.App {
  padding: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pesquisa{
  padding: 8px;
  border: 2px solid #ccc;
  width: 220px;
  border-radius: 10px;
  margin-right: 8px;
}

.button_pesquisa{
  height: 33px;
  border-radius: 25px;
  width: 80px;
  border: 2px solid #ccc;
  background-color: white;
  color: #a1a0a0;
  cursor: pointer;
  font-weight: 600;
  text-align: start;
}

.button_pesquisa:hover{
  border: 2px solid #ccc;
  background-color: #ccc;
  transform: scale(1.05);
  color: white;
}

.conteudo ul{
  padding: 0 8px;
  min-width: 310px;
  margin-top: 16px;
  border: 2px solid #ccc;
  border-radius: 15px;
}

.conteudo li{
  list-style: none;
  display: flex;
  align-items: center;
  word-wrap: break-word;
}

.conteudo li p{
  width: 82%;
}

.conteudo li a{
  color: red;
  cursor: pointer;
  font-weight: 600;
}
