.App {
  padding: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.barra_pesquisa{
  display: flex;
  justify-content: flex-end;
  margin: 8px;
}

.barra_pesquisa input{
  max-width: 400px;
  margin-right: 8px;
}

.pesquisa{
  padding: 8px;
  border: 2px solid #ccc;
  width: 220px;
  border-radius: 10px;
  margin-right: 8px;
}

.loading{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.conteudo{
  border: 2px solid #ccc;
  height: 80vh;
  padding: 8px;
  min-width: 651px;
  margin-top: 16px;
  border-radius: 15px;
  overflow-y: scroll;
}

.conteudo::-webkit-scrollbar {
  width: 8px;
}

.conteudo::-webkit-scrollbar-track {
  background: #f1f1f14c;
  border-radius: 10px;
  margin: 16px;
}

.conteudo::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.conteudo::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor da barra de rolagem ao passar o mouse */
}

.conteudo li{
  list-style: none;
  display: flex;
  align-items: center;
  word-wrap: break-word;
  margin: 4px;
  padding: 4px 6px;
  border-radius: 8px;
}

.conteudo li:hover{
  background-color: #f3f3f3;
  cursor: pointer;
}

.conteudo li p{
  width: 89%;
  padding-right: 8px;
}

.conteudo li label{
  margin: 0 8px;
}

.conteudo li a{
  color: red;
  cursor: pointer;
  font-weight: 600;
}

.completed_true{
  background-color: #48c78e40;
}

.completed_true p{
  text-decoration: line-through;
}